<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-gray-100">
    <nav class="bg-green-500 shadow-lg">
        <div class="container mx-auto py-4 flex justify-between items-center">
            <h1 class="text-3xl font-semibold text-white">Sustainable Surplus!</h1>
            <ul class="flex space-x-4">
                <li>
                    <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm font-semibold transition duration-300 ease-in-out" href="/listing/new">New Listing</a>
                </li>
                <li>
                    <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm font-semibold transition duration-300 ease-in-out" href="/dashboard">For Sale</a>
                </li>
                <li>
                    <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm font-semibold transition duration-300 ease-in-out" href="/api">Ingredient Search</a>
                </li>
                <li>
                    <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm font-semibold transition duration-300 ease-in-out" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mx-auto mt-8">
        <h2 class="text-3xl font-semibold text-green-500 text-center mb-4">Welcome {{ listing.user.first_name }}</h2>
        <div class="flex justify-center">
            <form action="/listing/{{listing.id}}/update" method="POST"
                class="bg-white p-4 border border-gray-300 rounded-lg max-w-md">
                <input type="hidden" name="listing.user_id" value="{{session['user_id']}}">
                <div class="mb-4">
                    <label for="item" class="block text-gray-700">Item:</label>
                    <input type="text" name="item" value="{{listing.item}}"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500">
                </div>
                <div class="mb-4">
                    <label for="farm" class="block text-gray-700">Farm:</label>
                    <input type="text" name="farm" value="{{listing.farm}}"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500">
                </div>
                <div class="mb-4">
                    <label for="date" class="block text-gray-700">Date Harvested:</label>
                    <input type="date" name="date" value="{{listing.date}}"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500">
                </div>
                <div class="mb-4">
                    <label for="weight" class="block text-gray-700">Weight:</label>
                    <input type="text" name="weight" value="{{listing.weight}}"
                        class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-500">
                </div>
                <input type="submit" value="Edit listing"
                    class="bg-green-500 text-white hover:bg-green-600 px-4 py-2 rounded-full text-sm font-semibold transition duration-300 ease-in-out">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
</html>