<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>New listing</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto">
        <nav class="bg-green-500 shadow-lg">
            <div class="container mx-auto py-4 flex justify-between items-center">
                <h1 class="text-3xl font-semibold text-white">Sustainable Surplus!</h1>
                <ul class="flex space-x-4 lg:space-x-8">
                    <li>
                        <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm lg:text-base font-semibold transition duration-300 ease-in-out" href="/listing/new">New Listing</a>
                    </li>
                    <li>
                        <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm lg:text-base font-semibold transition duration-300 ease-in-out" href="/dashboard">For Sale</a>
                    </li>
                    <li>
                        <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm lg:text-base font-semibold transition duration-300 ease-in-out" href="/api">Ingredient Search</a>
                    </li>
                    <li>
                        <a class="bg-white text-green-500 hover:bg-green-200 py-2 px-4 rounded-full text-sm lg:text-base font-semibold transition duration-300 ease-in-out" href="/user/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 class="text-3xl font-semibold text-green-500 text-center mt-4">Create a New Listing!</h1>
        <div class="flex justify-center mt-8">
            <form action="/listing/create" method="POST" enctype="multipart/form-data"
                class="text-center mx-auto max-w-sm p-4 border border-black rounded-xl">
                <div class="mb-4">
                    <div class="mb-4">
                        <label for="item" class="text-gray-600">Item:</label>
                        <input type="text" name="item" class="block w-full rounded-md border-gray-300 shadow-sm">
                    </div>
                    <div class="mb-4">
                        <label for="farm" class="text-gray-600">Farm:</label>
                        <input type="text" name="farm" class="block w-full rounded-md border-gray-300 shadow-sm">
                    </div>
                    <div class="mb-4">
                        <label for="date" class="text-gray-600">Date Harvested:</label>
                        <input type="date" name="date" class="block w-full rounded-md border-gray-300 shadow-sm">
                    </div>
                    <div class="mb-4">
                        <label for="weight" class="text-gray-600">Weight:</label>
                        <input type="text" name="weight" class="block w-full rounded-md border-gray-300 shadow-sm">
                    </div>
                    <div class="mb-4">
                        <label for="photo" class="text-gray-600">Photo:</label>
                        <input type="file" name="photo" class="block w-full rounded-md border-gray-300 shadow-sm">
                    </div>
                </div>
                <div>
                    <input type="hidden" name="user_id" value="{{session.user_id}}">
                </div>
                <input type="submit" value="Add Listing"
                    class="px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-700">
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="text-center mt-4">
            {% for message in messages %}
            <p class="text-red-500">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

</body>

</html>